%div{style: 'margin: auto 20px;'}
  .is-size-4.has-text-weight-bold.mb-3
    プライバシーポリシー
  %p
    運営者は、本ウェブサイト上で提供するサービス（以下,「本サービス」といいます。）における，ユーザーの個人情報の取扱いについて，以下のとおりプライバシーポリシー（以下，「本ポリシー」といいます。）を定めます。
  %p{style: 'margin-bottom: 20px;'}
    万一ご同意いただけない場合には、大変申し訳ありませんが、ご利用をお控えください。ご利用いただいた場合には、下記の諸条件すべてに同意いただいたものとさせていただきます。
  .is-size-5.has-text-weight-bold.mb-3
    第1条（個人情報の収集方法）
  %div{style: 'margin-bottom: 20px;'}
    本サービスでは、サービスのご提供のため、Twitterのアプリケーション認証時に以下の情報を取得・記録しています。
    %div
      ・ユーザー名
  .is-size-5.has-text-weight-bold.mb-3
    第2条（個人情報を収集・利用する目的）
  %p{style: 'margin-bottom: 20px;'}
    本サービスが個人情報を収集・利用する目的は，以下のとおりです。
  %ul{style: 'list-style:none; margin-bottom: 20px;'}
    %li
      1. 本サービスの提供・運営のため
    %li
      2. ユーザーからのお問い合わせに回答するため（本人確認を行うことを含む）
    %li
  .is-size-5.has-text-weight-bold.mb-3
    第3条（個人情報の削除について)
  %p{style: 'margin-bottom: 20px;'}
    本サービスに保存されている情報は、利用者様ご本人の希望により削除することが出来ます。
    %br
    その場合は、利用者様ご本人様からのお届け出であることが確認された後、ご対応をいたします。
  .is-size-5.has-text-weight-bold.mb-3
    第4条（個人情報の第三者提供）
  %p
    本サービスでは、原則として以下の場合を除き、利用者様の個人情報を第三者に提供することはありません。
  %ul{style: 'margin-bottom: 20px;'}
    %li
      1. 利用者様ご本人の同意に基づく場合。
    %li
      2. 裁判所や警察等の公的機関から法律に基づく正式な照会を受けて開示が請求され、これに応じる場合。
  .is-size-5.has-text-weight-bold.mb-3
    第5条（プライバシーポリシーの変更）
  %ul{style: 'margin-bottom: 20px;'}
    %li
      1. 本ポリシーの内容は，法令その他本ポリシーに別段の定めのある事項を除いて，ユーザーに通知することなく，変更することができるものとします。
    %li
      2. 本サービスが別途定める場合を除いて，変更後のプライバシーポリシーは，本ウェブサイトに掲載したときから効力を生じるものとします。
