%div{style: 'margin: auto 20px;'}
  .is-size-4.has-text-weight-bold.mb-3
    利用規約
  %p
    この利用規約（以下，「本規約」といいます。）は，このウェブサイトの運営者（以下，「運営者」といいます。）が提供するサービス「Outsinya」（以下，「本サービス」といいます。）の利用条件を定めるものです。登録ユーザーの皆さま（以下，「ユーザー」といいます。）には，本規約に従って，本サービスをご利用いただきます。
  %p{style: 'margin-bottom: 20px;'}
    万一ご同意いただけない場合には、大変申し訳ありませんが、ご利用をお控えください。ご利用いただいた場合には、下記の諸条件すべてに同意いただいたものとさせていただきます。
  .is-size-5.has-text-weight-bold.mb-3
    第1条（適用）
  %p{style: 'margin-bottom: 20px;'} 本規約は，ユーザーと運営者との間の本サービスの利用に関わる一切の関係に適用されるものとします。
  .is-size-5.has-text-weight-bold.mb-3
    第2条（利用登録）
  %ul{style: 'list-style: none; margin-bottom: 20px;'}
    %li
      1. ユーザーは，本サービスが定めるウェブサービスのアカウント認証により，利用登録を完了することができます。
    %li
      2. 本サービスは、無料で登録・ご利用いただけるものとします。但しアクセスにかかる通信費用は利用者様の負担となります。

  .is-size-5.has-text-weight-bold.mb-3
    第3条（禁止事項）
  %p{style: 'margin-bottom: 20px;'}
    ユーザーは，本サービスの利用にあたり，以下の行為をしてはなりません。
  %ul{style: 'list-style:none; margin-bottom: 20px;'}
    %li
      1. 法令または公序良俗に違反する行為
    %li
      2. 犯罪行為に関連する行為
    %li
      3. 本サービスの内容等，本サービスに含まれる著作権を侵害する行為
    %li
      4. 本サービスのサーバー、またはネットワークの機能を破壊したり，妨害したりする行為
    %li
      5. 本サービスによって得られた情報を商業的に利用する行為
    %li
      6. 本サービスの運営を妨害するおそれのある行為
    %li
      7. 不正アクセスをし，またはこれを試みる行為
    %li
      8. 他のユーザーに関する個人情報等を収集または蓄積する行為
    %li
      9. 不正な目的を持って当サービスを利用する行為
    %li
      10. 本サービスの他のユーザーまたはその他の第三者に不利益，損害，不快感を与える行為
    %li
      11. 他のユーザーに成りすます行為
    %li
      12. 面識のない異性との出会いを目的とした行為
    %li
      13. 本サービスに関連して，反社会的勢力に対して直接または間接に利益を供与する行為
    %li
      14. その他，運営者が不適切と判断する行為
  .is-size-5.has-text-weight-bold.mb-3
    第4条（本サービスの提供の停止等）
  %ul{style: 'margin-bottom: 20px;'}
    %li
      1. 運営者は，以下のいずれかの事由があると判断した場合，ユーザーに事前に通知することなく本サービスの全部または一部の提供を停止または中断することができるものとします。
      %ul{style: 'list-style:none;'}
        %li
          1. 本サービスにかかるコンピュータシステムの保守点検または更新を行う場合
        %li
          2. 地震，落雷，火災，停電または天災などの不可抗力により，本サービスの提供が困難となった場合
        %li
          3. コンピュータまたは通信回線等が事故により停止した場合
        %li
          4. その他，運営者が本サービスの提供が困難と判断した場合
    %li
      2. 運営者は，本サービスの提供の停止または中断により，ユーザーまたは第三者が被ったいかなる不利益または損害についても，一切の責任を負わないものとします。
  .is-size-5.has-text-weight-bold.mb-3
    第5条（利用制限および登録抹消）
  %ul{style: 'list-style:none; margin-bottom: 20px;'}
    %li
      1. 本サービスは，ユーザーが以下のいずれかに該当する場合には，事前の通知なく，ユーザーに対して，本サービスの全部もしくは一部の利用を制限し，またはユーザーとしての登録を抹消することができるものとします。
      %ul{style: 'list-style:none;'}
        %li
          1. 本規約のいずれかの条項に違反した場合
        %li
          2. その他，本サービスの利用を適当でないと判断した場合
    %li
      2. 本サービスは，本条に基づき本サービスが行った行為によりユーザーに生じた損害について，一切の責任を負いません。
  .is-size-5.has-text-weight-bold.mb-3
    第6条（退会）
  %p{style: 'margin-bottom: 20px;'} ユーザーは，本サービスの定める退会手続により，本サービスから退会できるものとします。
  .is-size-5.has-text-weight-bold.mb-3
    第7条（保証の否認および免責事項）
  %ul{style: 'list-style:none; margin-bottom: 20px;'}
    %li
      1. 運営者は，本サービスに事実上または法律上の瑕疵（安全性，信頼性，正確性，完全性，有効性，特定の目的への適合性，セキュリティなどに関する欠陥，エラーやバグ，権利侵害などを含みます。）がないことを明示的にも黙示的にも保証しておりません。
    %li
      2. 運営者は，本サービスに起因してユーザーに生じたあらゆる損害について一切の責任を負いません。
    %li
      3. 運営者は，本サービスのサーバに保存されたユーザー情報や投稿内容が何らかの理由で毀損・滅失した場合において一切の責任を負いません。
    %li
      4. 運営者は，本サービスに関して，ユーザーと他のユーザーまたは第三者との間において生じた取引，連絡または紛争等について一切責任を負いません。
  .is-size-5.has-text-weight-bold.mb-3
    第8条（サービス内容の変更等）
  %p{style: 'margin-bottom: 20px;'} 運営者は，ユーザーに通知することなく，本サービスの内容を変更しまたは本サービスの提供を中止することができるものとし，これによってユーザーに生じた損害について一切の責任を負いません。
  .is-size-5.has-text-weight-bold.mb-3
    第9条（利用規約の変更）
  %p{style: 'margin-bottom: 20px;'} 本サービスは，必要と判断した場合には，ユーザーに通知することなくいつでも本規約を変更することができるものとします。なお，本規約の変更後，本サービスの利用を開始した場合には，当該ユーザーは変更後の規約に同意したものとみなします。
  .is-size-5.has-text-weight-bold.mb-3
    第10条（個人情報の取扱い）
  %p{style: 'margin-bottom: 20px;'} 本サービスは，本サービスの利用によって取得する個人情報については，「プライバシーポリシー」に従い適切に取り扱うものとします。
  .is-size-5.has-text-weight-bold.mb-3
    第11条（準拠法・裁判管轄）
  %ul{style:'list-style:none; margin-bottom: 20px;'}
    %li
      1. 本規約の解釈にあたっては，日本法を準拠法とします。
    %li
      2. 本サービスに関して紛争が生じた場合には，東京地方裁判所を専属管轄裁判所とします。
  %p 以上
